title = "Termékszerkesztő" 
url = "/szerkeszto/:editiorId/:productSlug/:cartitemId?" 
layout = "default" 
==
<?php
use LivestudioDev\Lscart\Models\Product;
use LivestudioDev\Lscart\Models\Editior;
use LivestudioDev\Lscart\Models\EditiorItem;
use LivestudioDev\Lscart\Models\CartItem;

function onStart()
{
    $product = Product::whereSlug($this->param('productSlug'))->first();
    $editior = Editior::find($this->param('editiorId'));
    $cartItem = CartItem::find($this->param('cartitemId'));
    //dd($editior);
    if (!$product || !$editior) {
        return Redirect::to("/404");
    }

    if ($product->id != $editior->product_id) {
        return Redirect::to("/404");
    }

    $this['product'] = $product;
    $this['editior'] = $editior;

    $this['datas'] = $editior->datas;
    $this['gallery'] = $editior->gallery;

    $inputs = $product->editior_inputs;

    $this['inputs'] = $inputs;

    $this['code'] = new class {

        public function getItem($code, $editior) {
            return EditiorItem::where('code', $code)->where('editior_id', $editior)->first();
        }  

    };

}

function onChangeVariants()
{
    $id = Input::get('variant_id');
    $product = Product::where('slug', $this->param('productSlug'))->first();

    return [
        '#price' => $this->renderPartial('product/price', ["variant_id" => $id, "product" => $product, "this" => $this]),
        '#variant' => $this->renderPartial('product/variant', ["variant_id" => $id, "product" => $product, "this" => $this]),
        '#stock' => $this->renderPartial('product/stock', ["variant_id" => $id, "product" => $product]),
        '#button' => $this->renderPartial('product/button', ["variant_id" => $id])
    ];
}

function onSaveEditior()
{

    $editior = Editior::find($this->param('editiorId'));

    $datas = $editior->datas ?? [];
    $keys = [];
    
    foreach ($datas as $key => $data) {
        $keys[] = $key;
    }

    $datas[post('name')] = post('value');

    $editior->datas = $datas;
    $editior->save();

}

?>
==



<!-- <div class="xl:hidden flex items-center justify-center text-center">
    <p class="font-bold text-xl mt-12">
        A szerkesztői felület jelenleg csak nagyképernyőn működik. Például számítógép, laptop
    </p>
</div> -->
<form 
    data-request-complete="saveImg()" 
    data-request="onAddCartItem" 
    data-request-flash 
    data-request-files
    data-request-loading
    id="addToCartForm"

>
    <input type="hidden" name="product_id" value="{{ product.id }}" />
    <input type="hidden" name="editior_id" value="{{ editior.id }}" />

    <div class="xl:mt-6 pb-20 mx-auto container xl:w-full">

        <div class="hidden xl:block mb-6">
            <h1 class="my-1 xl:text-4xl text-3xl font-primary">
                {{ product.name }}
            </h1>
            <p class="xl:text-xs text-sm text-neutral-500 font-medium">
                Cikkszám: 
                {{ product.cikkszam ? product.cikkszam : 'Nincs megadva' }}{{ product.id < 10 ? '00'~product.id : '' }}{{ product.id > 10 and product.id < 100 ? '0'~product.id : '' }}{{ product.id >= 100 ? product.id : '' }}
            </p>
        </div>

        {% set dataArray = [] %}

        {% for input in inputs %}

            {% set data = code.getItem(input['code']~'_size', editior.id).data ?? 1 %}
            {% set dataArray = dataArray|merge(['size_' ~ input["code"]~': '~data~',']) %}
            
            {% set data = code.getItem(input['code']~'_vertical', editior.id).data ?? 0 %}
            {% set dataArray = dataArray|merge(['vertical_' ~ input["code"]~': '~data~',']) %}


            {% set data = code.getItem(input['code']~'_horizontal', editior.id).data ?? 0 %}
            {% set dataArray = dataArray|merge(['horizontal_' ~ input["code"]~': '~data~',']) %}

        {% endfor %}


        <div id="canvas" x-data="
        { {% for data in dataArray %}
            {{ data }}
        {% endfor %} }" class="">
            <div id="addToCart" class="w-full mb-3 flex flex-wrap xl:flex-nowrap">
                <div class="xl:w-9/12 xl:relative fixed w-full flex items-start justify-center z-50 xl:bg-transparent bg-black bg-opacity-50 backdrop-blur-md" >
                    <div class="h-[280px] xl:h-auto w-auto relative xl:sticky xl:top-20">
                        <img src="{{ product.editor_image.path }}" class="w-full object-top h-full xl:max-h-[1000px] object-contain" alt="{{ product.name }}">

                        {% for imageInput in inputs %}

                            {% set index = loop.index  %}

                            {% if imageInput['type'] == 'text' or imageInput['type'] == 'textarea' %}
                                {% set index = index - 1 %}
                                <div id="{{ imageInput['type'] }}{{ loop.index }}" 
                                class="!border-none custom-file absolute overflow-hidden 
                                xl:w-[{{ imageInput['w'] }}] 
                                xl:h-[{{ imageInput['h'] }}]
                                xl:left-[{{ imageInput['l'] }}] 
                                xl:right-[{{ imageInput['r'] }}]  
                                xl:top-[{{ imageInput['t'] }}] 
                                xl:bottom-[{{ imageInput['b'] }}] 

                                w-[{{ imageInput['mobil_w'] }}]
                                h-[{{ imageInput['mobil_h'] }}]
                                left-[{{ imageInput['mobil_l'] }}]
                                right-[{{ imageInput['mobil_r'] }}]
                                top-[{{ imageInput['mobil_t'] }}]
                                bottom-[{{ imageInput['mobil_b'] }}]
    
                                z-[{{ imageInput['z'] }}]
                                {{ imageInput['class'] }} 
                                ">
                                    <p id="output{{ loop.index }}" 
                                    class="text-white {{ imageInput['itemClass'] }}">
                                        {{ datas[imageInput['code']] ?? imageInput['default'] }}
                                    </p>
                                </div>
                            {% else %}
                                <div id="{{ imageInput['type'] }}{{ loop.index }}" 
                                class=" bg-red-500
                                !border-none custom-file absolute flex justify-center items-center overflow-hidden 

                                xl:w-[{{ imageInput['w'] }}] 
                                xl:h-[{{ imageInput['h'] }}]
                                xl:left-[{{ imageInput['l'] }}] 
                                xl:right-[{{ imageInput['r'] }}]  
                                xl:top-[{{ imageInput['t'] }}] 
                                xl:bottom-[{{ imageInput['b'] }}] 

                                w-[{{ imageInput['mobil_w'] }}]
                                h-[{{ imageInput['mobil_h'] }}]
                                left-[{{ imageInput['mobil_l'] }}]
                                right-[{{ imageInput['mobil_r'] }}]
                                top-[{{ imageInput['mobil_t'] }}]
                                bottom-[{{ imageInput['mobil_b'] }}]

                                z-[{{ imageInput['z'] }}]
                                {{ imageInput['class'] }} 
     
                                ">
                                    <img id="output{{ loop.index }}" 
                                    :class="
                                        '!scale-[' + size_{{ imageInput['code'] }} + '] !translate-y-[' + vertical_{{ imageInput['code'] }} + 'px] !translate-x-[' + horizontal_{{ imageInput['code'] }} + 'px]'
                                    "
                                    src="{{ code.getItem(imageInput['code'], editior.id).image.path ?? 'assets/images/noimage.jpg'|theme }}"
                                    class="viewImg w-full h-full object-contain z-10 !border-none !outline-none

                                    {% if code.getItem(imageInput['code']~'_size', editior.id) %}
                                        scale-[{{ code.getItem(imageInput['code']~'_size', editior.id).data }}] 
                                    {% endif %}

                                    {% if code.getItem(imageInput['code']~'_vertical', editior.id) %}
                                        translate-y-[{{ code.getItem(imageInput['code']~'_vertical', editior.id).data }}] 
                                    {% endif %}

                                    {% if code.getItem(imageInput['code']~'_horizontal', editior.id) %}
                                        translate-x-[{{ code.getItem(imageInput['code']~'_horizontal', editior.id).data }}] 
                                    {% endif %}
                                    
                                    " />
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="xl:w-3/12 xl:pl-3 w-full pt-[300px] xl:pt-0">

                    <div class="flex flex-col gap-3 p-3 bg-white bg-opacity-40 rounded-lg border border-neutral-200">

                        <h2 class="font-primary text-2xl mb-3">
                            Szerkesztés
                        </h2>

                        {% for input in inputs %}

                            {% set type = input['type'] %}

                            {% if input['type'] == 'image' %}
                                <div class="inputDiv bg-white rounded-lg border border-neutral-200 p-5">
                                    <div class="flex items-center justify-between">

                                        <input class="custom-file-input text-center" type="file" accept="image/*" name="{{ input['code'] }}" hidden
                                        {{ code.getItem(input['code'], editior.id) ? '' : 'required' }}
                                        id="imageInput{{ loop.index }}"
                                        onchange="loadImg('imageInput{{ loop.index }}', 'output{{ loop.index }}', '{{ type }}')">

                                        <p class="font-semibold text-sm">
                                            {{ input['name'] }} 
                                        </p>
                                        
                                        <label for="imageInput{{ loop.index }}" class="flex items-center gap-3 cursor-pointer">
                                            <div class="icon bg-[#151C1C] text-white font-bold uppercase text-xs xl:text-[10px] w-full p-2 flex gap-2 items-center justify-center rounded-lg">
                                                <i class="fa-solid"></i> <span class="xl:hidden block">Kép Hozzáadása</span> <span class="hidden xl:block">hozzáadás</span>  
                                            </div>
                                        </label>
                                        
                                    </div>
                                    <div class="flex flex-col gap-2 mt-3">

                                        <div class="flex items-center gap-3 justify-between">
                                            <label for="{{ input['code'] }}_id" class="text-sm w-5 h-5 flex items-center justify-center">
                                                <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                                            </label>
                                            <input type="range" value="1" min="0.5" max="4" step="0.1" name="{{ input['code'] }}_size" id="{{ input['code'] }}_id" x-model="size_{{ input['code'] }}"
                                            class="w-full">
                                            <div class="w-16">
                                                <span x-text="size_{{ input['code'] }}" class="text-xs"></span><span class="text-xs">x</span>
                                            </div>
                                        </div>

                                        <div class="flex items-center gap-3 justify-between">
                                            <label for="{{ input['code'] }}_id" class="text-sm w-5 h-5 flex items-center justify-center">
                                                <i class="fa-solid fa-up-down"></i>
                                            </label>
                                            <input type="range" value="0" min="-300" max="300" step="0.05" name="{{ input['code'] }}_vertical" id="{{ input['code'] }}_id" x-model="vertical_{{ input['code'] }}"
                                            class="w-full">
                                            <div class="w-16">
                                                <span x-text="vertical_{{ input['code'] }}" class="text-xs"></span><span class="text-xs">px</span>
                                            </div>
                                        </div>

                                        <div class="flex items-center gap-3 justify-between">
                                            <label for="{{ input['code'] }}_id" class="text-sm w-5 h-5 flex items-center justify-center">
                                                <i class="fa-solid fa-left-right"></i>
                                            </label>
                                            <input type="range" value="0" min="-300" max="300" step="0.1" name="{{ input['code'] }}_horizontal" id="{{ input['code'] }}_id" x-model="horizontal_{{ input['code'] }}"
                                            class="w-full">
                                            <div class="w-16">
                                                <span x-text="horizontal_{{ input['code'] }}" class="text-xs"></span><span class="text-xs">px</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% elseif input['type'] == 'textarea' %}
                                <div class="inputDiv">
                                    <label for="imageInput{{ loop.index }}" class="font-medium mb-1">
                                        <p class="font-semibold">
                                            {{ input['name'] }}
                                        </p>
                                    </label>
                                    <textarea class="bg-[#fff] h-[130px] px-4 w-full focus:outline-0 py-3 rounded-lg border border-neutral-200" type="text" 
                                    name="{{ input['code'] }}" id="imageInput{{ loop.index }}" required
                                    onchange="loadImg('imageInput{{ loop.index }}', 'output{{ loop.index }}', '{{ type }}')">{{ datas[input['code']] }}</textarea>
                                </div>
                            {% else %}
                                <div class="inputDiv">
                                    <label for="imageInput{{ loop.index }}" class="font-medium mb-1">
                                        <p class="font-semibold">
                                            {{ input['name'] }}
                                        </p>
                                    </label>
                                    <input class="bg-[#fff] h-[55px] px-4 w-full focus:outline-0 rounded-lg border border-neutral-200" type="text" name="{{ input['code'] }}" 
                                    value="{{ datas[input['code']] }}"  id="imageInput{{ loop.index }}" required
                                    onchange="loadImg('imageInput{{ loop.index }}', 'output{{ loop.index }}', '{{ type }}')">
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div id="variant">
                            {% partial 'product/variant' %}
                        </div>

                        <div class="mb-6 mt-3 relative">
                            {% if product.status == 0 %}
                            <h2 class="font-medium text-4xl text-primary font-primary">
                                {{ product.getItemPrice(variant_id, cart.cart.currency.id, false, false, false)|number_format(0, ',', ' ') }}
                                {{ cart.cart.currency.shortcode }}
                            </h2>
                            <p class="text-neutral-800">
                                A webáruházban megtalálható legutolsó ismert ár.
                            </p>
                            {% else %}
                                <div id="price" class="relative">
                                    {% partial 'product/price' %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="w-full">
                            {% if product.status == 1 %}
                            
                                <div class="w-full mb-5">
                                    <div x-data="{ count: 1 }" class="flex items-center justify-between border border-neutral-200 py-2 px-3 rounded-lg">
                                        <button @click="count = count != 1 ? count - 1 : 1" type="button" 
                                        :class="{ 'opacity-25': count == 1 }"
                                        class="text-2xl font-medium bg-[#151C1C] flex items-center justify-center w-8 h-8 min-w-[32px] hover:bg-opacity-80 rounded-full text-white">-</button>
                                        <input                                         
                                        id="numberPlace" 
                                        type="number" 
                                        name="quantity"
                                        class="w-full p-0 m-0 text-center bg-transparent focus:outline-none" 
                                        value="1" 
                                        min="1" 
                                        readonly x-model="count">
                                        <button @click="count = count + 1" type="button" class="text-2xl font-medium bg-[#151C1C] flex items-center justify-center w-8 h-8 min-w-[32px] hover:bg-opacity-80 rounded-full text-white">+</button>
                                    </div>
                                </div>

                            {% endif %}
                            {% if product.getItemPrice(variant_id, cart.cart.currency.id, false, false, false) > 0 or product.getStorageItem().stock != 0 %}
                            <div class="{{ product.status != 1 ? 'lg:w-full' }} w-full">
                                {% if product.status == 1 %}
                                    {% if product.variants|length > 0 %} 
                                    <div id="button" class="w-full">
                                        {% partial 'product/button' %}
                                    </div>
                                    {% else %}
                                        <button form="addToCartForm" type="submit" id="addCartBtn" 
                                        class="h-[50px] bg-[#151C1C] hover:bg-opacity-50 transition-all ease-in-out px-10 text-white font-primary flex items-center justify-center w-full rounded-lg">
                                            Kosárba
                                        </button>
                                    {% endif %}
                                {% elseif product.status == 2 %}
                                    <div class="h-[50px] bg-yellow-600 px-10 text-white font-primary flex items-center justify-center w-full rounded-lg">
                                        A termék nem érhető el
                                    </div>
                                {% elseif product.status == 0 %}
                                    <div class="h-[50px] bg-[#151C1C30] px-10 text-white font-primary flex items-center justify-center w-full rounded-lg">
                                        A terméket jelenleg nem forgalmazzuk webáruházunkban
                                    </div>
                                {% endif %}
                                <!-- <a href="">
                                    <div class="hover:text-[#2B3990] transition-all ease-in-out rounded-full h-12 w-12 flex items-center justify-center">
                                        <i class="fa-light fa-heart text-xl"></i>
                                    </div>
                                </a> -->
                            </div>
                            {% else %}
                            <div class="lg:w-8/12 {{ product.status != 1 ? 'lg:w-full' }} w-full lg:pl-2 flex justify-between">
                                <div class="h-[50px] bg-[#2B399050] hover:bg-opacity-50 transition-all ease-in-out px-10 text-white font-primary 
                                flex items-center justify-center clip-box w-full">
                                    {{ product.getStorageItem().stock == 0 ? 'Nincs raktáron' : 'Nem elérhető' }}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</form>
{% put scripts %}

<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<script>

    function saveImg() {

    }

    var loadImg = function(inputId, outputId, type) {
        var input = document.getElementById(inputId);
        var output = document.getElementById(outputId);

        console.log(input.value);

        if (type === 'image') {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    output.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);

                input.parentNode.classList.add('active');
            }
        } else if (type === 'text' || type === 'textarea') {
            output.innerText = input.value;
        }

        $.request("onSaveEditior", {
            data: {
                value: input.value,
                name: input.name,
                type: input.type,
            }
        });
        
    };

</script>
{% endput %}