title = "Információ" 
url = "/info/:slug" 
layout = "default" 
==
<?php
use Carbon\Carbon;
use Codergram\Shopforge\Models\Page;


function onStart() {
    $now = Carbon::now();
    $this['now'] = $now;

    $data = Page::where('slug', $this->param('slug'))->first();

    if (!$data) {
        return Redirect::to("/404");
    }

    $this['data'] = $data;
}
?>
==

{% if data.image %}
<div class="relative h-[700px] mb-20 flex items-center">
    <div class="z-10 relative container mx-auto xl:w-6/12 h-full flex flex-col justify-end">
        <h1 class="f1bold xl:text-5xl text-white uppercase">
            {{ data.name }}
        </h1>
        <!-- <p class="text-neutral-500 text-2xl">
            {{ data.public_date|date("Y. m. d.") }}
        </p> -->
    </div>
    <img src="{{ data.image.path }}"
    class="object-cover object-center w-full h-full absolute top-0 left-0"
    alt="{{ data.name }}"> 
    <div class="gradient"></div>
</div>
{% endif %}

<div class="container mx-auto w-11/12 xl:w-auto {{ data.image ? 'pt-5' : 'pt-5'}}">
    
    {% if not data.image %}
    <h1 class="sm:text-5xl text-4xl font-primary text-white my-10">
        {{ data.name }}
    </h1>
    <!-- <p class="text-neutral-500 text-2xl mb-10">
        {{ data.public_date|date("Y. m. d.") }}
    </p> -->
    {% endif %}

    <div id="newsContent">
        {{ data.body|raw }}
    </div>
</div>


