<div class="absolute left-0 top-0 w-full h-[1100px] overflow-hidden">

    <img src="{{ 'assets/images/left.svg'|theme }}" 
    class="xl:h-[1100px] h-[400px] w-auto object-contain mx-auto absolute 
    
    2xl:-left-[300px]
    xl:-left-[500px] 
    
    -left-[200px] xl:-top-[200px] -top-[50px] z-50" alt="illustration">

    <img src="{{ 'assets/images/right.svg'|theme }}" 
    class="xl:h-[1100px] h-[400px] w-auto object-contain mx-auto absolute 
    
    2xl:-right-[300px]
    xl:-right-[500px] 
    
    -right-[200px] xl:-top-[270px] -top-[100px] z-50" alt="illustration">

    <img src="{{ 'assets/images/szeged.svg'|theme }}" 
    class="h-auto xl:w-[230px] w-[150px] object-contain mx-auto relative xl:-top-16 -top-10 z-50" alt="Zöld Szeged">

    <div class="bg-gradient-to-b from-white to-transparent w-full h-[1400px] absolute left-0 top-0"></div>

</div>