
<div class="bg-[#111] relative overflow-hidden">
    <div class="container mx-auto px-3 xl:px-0 pb-16 pt-[128px] relative z-10">
        <div class="flex flex-wrap">
            <div class="xl:w-6/12 px-2 mb-4 xl:mb-0">
                <a href="/termekek/elektromos-roller">
                    <div class="rounded-3xl bg-top flex items-center justify-center px-8 relative overflow-hidden h-[300px] bg-[#222] group">
                        <div class="line absolute top-0 left-0 w-full h-full opacity-30"></div>
                        <div class="xl:w-6/12 py-16 text-white relative z-10">
                            <p class="text-sm mb-3 font-light">
                                Telefonok
                            </p>
                            <h2 class="xl:text-2xl text-xl font-bold baloo mb-3">
                                Iphoneok kedvező áron
                            </h2>
                            <div class="bg-[#2B3990] text-white group-hover:text-white w-max baloo transition-all ease-in-out rounded-xl px-9 py-3 font-bold uppercase">
                                Termékek
                            </div>
                        </div>
                        <div class="xl:w-6/12 h-full xl:py-10 relative z-10">
                            <img src="{{ 'assets/images/phone.png'|theme }}" class="w-full h-full object-contain relative z-10 group-hover:scale-110 transition-all ease-in-out" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="xl:w-6/12 px-2 mb-4 xl:mb-0">
                <a href="/termekek/alkatreszek">
                    <div class="rounded-3xl bg-top justify-center px-8 flex items-center relative overflow-hidden h-[300px] bg-[#222] group">
                        <div class="line absolute top-0 left-0 w-full h-full opacity-30"></div>
                        <div class="xl:w-6/12 py-16 text-white relative z-10">
                            <p class="text-sm mb-3 font-light">
                                Telefonok
                            </p>
                            <h2 class="xl:text-2xl text-xl font-bold baloo mb-3">
                                Lorem ipsum
                            </h2>
                            <div class="bg-[#2B3990] text-white group-hover:text-white w-max baloo transition-all ease-in-out rounded-xl px-9 py-3 font-bold uppercase">
                                Termékek
                            </div>
                        </div>
                        <div class="xl:w-6/12 h-full py-5 relative z-10">
                            <img src="{{ 'assets/images/phone.png'|theme }}" class="w-full h-full object-contain relative z-10 group-hover:scale-110 transition-all ease-in-out" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>  
</div>